@charset "UTF-8";
@keyframes show {
  0% {
    transform: translatey(50px);
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    transform: translatey(0);
    opacity: 1;
  }
}
@keyframes disappear {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes spiner {
  to {
    transform: rotate(360deg);
  }
}
.loader {
  position: fixed;
  background-color: #fff;
  display: grid;
  place-items: center;
  height: 100vh;
  inset: 0;
  z-index: 1;
  opacity: 0.9;
  animation: disappear 200ms 4s forwards;
  transform-origin: top;
}
.loader::after {
  content: "";
  height: 100px;
  width: 100px;
  border-right: 5px solid transparent;
  border-top: 5px solid #9356DC;
  border-radius: 50%;
  animation: spiner 1s ease-in-out;
  animation-iteration-count: 4;
}

* {
  font-family: "roboto", sans-serif;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.exploration__btn {
  margin: auto;
  width: 220px;
  background: linear-gradient(350deg, #9356DC 0%, #FF79DA 100%);
  color: #fff;
  height: 50px;
  line-height: 50px;
  border-radius: 25px;
  box-shadow: 0px 5px 10px #a9a3a3;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.exploration__btn:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

.container__btn {
  margin: 50px auto 0;
  width: 200px;
  background: linear-gradient(350deg, #9356DC 0%, #FF79DA 100%);
  color: #fff;
  height: 50px;
  line-height: 50px;
  border-radius: 25px;
  box-shadow: 0px 5px 10px #a9a3a3;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.container__btn:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

footer {
  background-color: #2a2929;
  padding-left: 28px;
}
footer h3 {
  font-family: "Shrikhand", sans-serif;
  color: #fff;
}
footer ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}
footer ul li {
  list-style-type: none;
  margin-bottom: 10px;
  width: 230px;
}
footer ul li a {
  color: #fff;
  text-decoration: none;
}
footer ul li a i {
  margin-right: 10px;
  width: 20px;
}

.image-menu {
  display: flex;
  justify-content: center;
  height: 300px;
}
.image-menu img {
  object-fit: cover;
  width: 110%;
}

.menu {
  border-radius: 50px 50px 0 0;
  background-color: #f2f2f2;
  position: relative;
  top: -55px;
  margin-bottom: -55px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.menu__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.menu__title h1 {
  margin-left: 20px;
  font-family: "Shrikhand", sans-serif;
  font-size: 25px;
}
.menu__title__icone {
  margin-right: 40px;
  font-size: 1.5rem;
  cursor: pointer;
}
.menu__title__icone .fas {
  color: transparent;
  background: linear-gradient(350deg, #9356DC 0%, #FF79DA 100%);
  background-clip: text;
  -webkit-background-clip: text;
  transition: all 200ms ease-in-out;
  position: relative;
  left: 30px;
  opacity: 0;
}
.menu__title__icone:hover .fas {
  opacity: 1;
}
.menu__blocks {
  margin: auto;
  animation: show 1s;
  animation-fill-mode: both;
}
.menu__blocks:nth-child(2) {
  animation-delay: 0.4s;
}
.menu__blocks:nth-child(3) {
  animation-delay: 0.6s;
}
.menu__blocks:nth-child(4) {
  animation-delay: 0.8s;
}
.menu__blocks h3 {
  font-weight: normal;
  margin: 0 0 5px 5px;
  animation: show 1s;
}
.menu__blocks .green_line {
  color: #99E2D0;
  border: 2px solid;
  width: 50px;
  margin-left: 5px;
  margin-bottom: 15px;
  animation: show 1.5s;
}
.menu__blocks__liste__choix {
  background-color: white;
  border-radius: 20px;
  width: 350px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  margin-bottom: 20px;
  animation: show 1s;
  animation-fill-mode: both;
}
.menu__blocks__liste__choix:nth-child(1) {
  animation-delay: 0.1s;
}
.menu__blocks__liste__choix:nth-child(2) {
  animation-delay: 0.2s;
}
.menu__blocks__liste__choix:nth-child(3) {
  animation-delay: 0.3s;
}
.menu__blocks__liste__choix__détails {
  display: flex;
  justify-content: space-between;
  flex: 1;
}
.menu__blocks__liste__choix__détails__titres h4 {
  font-weight: bold;
  font-size: 1.2rem;
  margin: 10px 0 5px 12px;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.menu__blocks__liste__choix__détails__titres p {
  margin: 0 0 15px 12px;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.menu__blocks__liste__choix__détails__prix {
  text-align: end;
  display: flex;
  align-items: flex-end;
  margin: 0 20px 15px 0;
  font-weight: bold;
}
.menu__blocks__liste__choix__check {
  font-size: 1.3rem;
  width: 70px;
  line-height: 70px;
  background-color: #99E2D0;
  color: white;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  text-align: center;
  margin-right: -70px;
  transition: all 0.5s;
}
.menu__blocks__liste__choix__check i {
  transform: rotate(-1turn);
  transition: transform 0.5s ease-in-out;
}
.menu__blocks__liste__choix:hover .menu__blocks__liste__choix__check {
  margin-right: 0;
}
.menu__blocks__liste__choix:hover .menu__blocks__liste__choix__check i {
  transform: rotate(0);
}

.container {
  background-color: #f2f2f2;
  padding-bottom: 100px;
  border: #f2f2f2 1px solid;
}

header {
  width: 100%;
}
header i {
  font-size: 1.7rem;
  color: black;
}
header .block-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
}
header .block-logo__arrow {
  position: relative;
  right: 20%;
}

.search-bar {
  background-color: #e3e3e3;
  height: 50px;
  border-top: 3px solid #d2d5d2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-bar input {
  background-color: #e3e3e3;
  width: 160px;
  font-size: 1.2rem;
  margin-left: 15px;
  border: 0;
}
.search-bar input::placeholder {
  color: black;
}

.exploration {
  background-color: #efefef;
  padding: 40px 0 60px;
}
.exploration h1 {
  width: 75%;
  margin: auto;
  text-align: center;
  font-size: 1.5rem;
}
.exploration p {
  width: 90%;
  margin: 15px auto 30px;
  text-align: center;
  color: grey;
  font-size: 1.2rem;
}

nav {
  width: 90%;
  margin: auto;
}
nav h2 {
  margin: 40px 0 20px;
}
nav ul {
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
nav .fonctionnement-blocks {
  display: flex;
  align-items: center;
  width: 320px;
  height: 70px;
  line-height: 70px;
  margin: 0 auto 25px;
  background-color: #efefef;
  border-radius: 20px;
  box-shadow: 0px 5px 10px #a9a3a3;
}
nav .fonctionnement-blocks:hover {
  background-color: #efe5f1;
}
nav .fonctionnement-blocks:hover i {
  color: #9356DC;
}
nav .fonctionnement-blocks__numbers {
  width: 20px;
  height: 20px;
  line-height: 20px;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  background-color: #9356DC;
  color: #fff;
  position: relative;
  left: -10px;
}
nav .fonctionnement-blocks__icones {
  margin: 0 25px 0 10px;
  font-size: 1.2rem;
  color: grey;
}

section {
  background-color: #f4f1f1;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
section h2 {
  width: 90%;
  margin: 40px auto 20px;
}
section .restaurants {
  width: 95%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
section .restaurants a {
  color: black;
  text-decoration: none;
  margin: 0 auto 28px;
}
section .restaurants__block {
  width: 320px;
  height: 230px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 5px 10px #a9a3a3;
}
section .restaurants__block__images {
  height: 160px;
}
section .restaurants__block__images img {
  height: 160px;
  border-radius: 15px 15px 0 0;
  width: 100%;
  object-fit: cover;
  object-position: bottom;
}
section .restaurants__block__images--position img {
  object-position: 0 -145px;
}
section .restaurants__block__images p {
  height: 25px;
  width: 80px;
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px 2px 2px 2px;
  position: relative;
  left: 225px;
  top: -165px;
  background-color: #99E2D0;
  color: #239168;
}
section .restaurants__block__details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section .restaurants__block__details__names {
  margin-left: 10px;
}
section .restaurants__block__details h3 {
  margin: 10px 0 5px 0;
}
section .restaurants__block__details h4 {
  margin: 0;
  font-weight: normal;
}
section .restaurants__block__details__icones {
  margin-right: 20px;
  font-size: 1.5rem;
  cursor: pointer;
}
section .restaurants__block__details__icones .fas {
  color: transparent;
  background: linear-gradient(350deg, #9356DC 0%, #FF79DA 100%);
  background-clip: text;
  -webkit-background-clip: text;
  transition: all 200ms ease-in-out;
  position: relative;
  left: 30px;
  opacity: 0;
}
section .restaurants__block__details__icones:hover .fas {
  opacity: 1;
}

/*# sourceMappingURL=styles.css.map */
