$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;

$bg:(
    img2:(
        url: url("/Maquettes-Ohmyfood/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg"),
        position: 0 -147px
    ),
    img3:(
        url: url("/Maquettes-Ohmyfood/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg"),
        position: bottom
    ),
    img4:(
        url: url("/Maquettes-Ohmyfood/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg"),
        position: bottom
    )
);

@mixin image($bg){
    @each $img, $prp in $bg{
        &--#{$img}{
            background-image: map-get($prp, url);
            background-position: map-get($prp, position);
        }  
    }
}

*{
    font-family: 'roboto', sans-serif;
}
body{
    margin: 0;
    display: flex;
    flex-direction: column;
}
header{
    width: 100%;
}
#block-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}
.search-bar{
    background-color: #e3e3e3;
    height: 50px;
    border-top:3px solid rgb(210, 213, 210);
    display: flex;
    justify-content: center;
    align-items: center;
    input{
        background-color: #e3e3e3;
        width: 160px;
        font-size: 1.2rem;
        margin-left: 15px;
        border: 0;
        &::placeholder{
            color: black;
        }
    }
}
#exploration{
    background-color: rgb(239, 239, 239);
    padding: 40px 0 60px;
    h1{
        width: 75%;
        margin: auto;
        text-align: center;
        font-size: 1.5rem;
    }
    p{
        width: 90%;
        margin: 15px auto 30px;
        text-align: center;
        color: grey;
        font-size: 1.2rem;
    }
    .btn{
        width: 50%;
        margin: auto;
        background-color: $color-primary;
        color: #fff;
        height: 50px;
        line-height: 50px;
        width: 220px;
        border-radius: 25px;
        box-shadow: 0px 5px 10px #a9a3a3;
        display: flex;
        justify-content: center;
    }
}
nav{
    width: 90%;
    margin: auto;
   h2{
        margin: 40px 0 20px;
    }
    ul{
        padding:0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 40px;
    }
    .fonctionnement-blocks{
        display: flex;
        align-items: center;
        width: 320px;
        height: 70px;
        line-height: 70px;
        margin:0 auto 25px;
        background-color:rgb(239, 239, 239);
        border-radius: 20px;
        box-shadow: 0px 5px 10px #a9a3a3;
        &__numbers{
            width: 20px;
            height: 20px;
            line-height: 20px;
            display: flex;
            justify-content: center;
            border-radius: 20px;
            background-color: $color-primary;
            color: #fff;
            position: relative;
            left: -10px;
        }
        &__icones{
            margin: 0 25px 0 10px;
            font-size: 1.2rem;
            color: grey;
        }
    }
} 
section{
    background-color: #f4f1f1;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    h2{
        width: 90%;
        margin: 40px auto 20px;
    }
    .restaurants{
        width: 95%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        a{
            color: black;
            text-decoration: none;
            margin:0 auto 28px;
        }
        &__block{
            width: 320px;
            height: 230px;
            display: flex;
            flex-direction: column;
            background-color: #fff;
            border-radius: 15px;
            box-shadow: 0px 5px 10px #a9a3a3;
            &__images{
                height: 160px;
                background-image: url("/Maquettes-Ohmyfood/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
                background-size: cover;
                background-repeat: no-repeat;
                background-position: bottom;
                border-radius: 15px 15px 0 0;
                @include image($bg)
            }
            p{
                height: 25px;
                width: 80px;
                font-size: 0.9rem;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 2px 2px 2px 2px;
                position:relative;
                left: 225px;
                background-color: $color-tertiary;
                color: rgb(35, 145, 104);
            }
            &__details{
                display: flex;
                justify-content: space-between;
                align-items: center;
                &__names{
                    margin-left: 10px;
                }
                h3{
                    margin: 10px 0 5px 0;
                }
                h4{
                    margin: 0;
                    font-weight: normal;
                }
                &__icones{
                    margin-right: 20px;
                    font-size: 1.5rem;
                    .fas{
                        display: none;
                    }
                    &:hover{
                        color: $color-primary;
                        .fas{
                            display: block;
                        }
                        .far{
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
footer{
    background-color: rgb(42, 41, 41);
    padding-left: 28px;
    h3{
        font-family: 'Shrikhand', sans-serif;
        color: #fff;
    }
    ul{
        display: flex;
        flex-wrap: wrap;
        padding:0;
        li{
            list-style-type: none;
            margin-bottom: 10px;
            width: 230px;
            a{
                color: #fff;
                text-decoration: none;
                i{
                    margin-right: 10px;
                    width: 20px;
                }
            }
        }
    }
}